$def with (head, offleft)
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/linkeffect.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/work-page.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="/static/scripts/classie.js"></script>
		<script src="/static/scripts/modernizr.custom.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51520436-1', 'joshandre.ws');
          ga('send', 'pageview');

        </script>
        <title>UBC Sailbot - IRSR</title>
	<body>
		<div id="st-container" class="st-container">
			$:offleft
			<div class="st-pusher">
				<div class="st-content">
					$:head
					<div id="content">
                        <h3>UBC Sailbot - International Robotic Sailing Regatta</h3>
                        <img src="/static/images/tb-2013.jpg"/>
                        <p>
                            In 2012-2013 I was the control team lead for the UBC Sailbot team.  The team designed a new
                            autonomous sailbot from scratch over the course of the 2012-2013 school year.  We built an
                            entirely <a href="http://ubcsailbot.org/2013/03/08/sailing-simulator-in-gui/">new control system</a>
                            using python on a Raspberry Pi.  We connected the system to a low level real time unit (an arduino)
                            to connect to sensors and run some of our real time processes.
                        </p>
                        <p>
                            The <a href="http://github.com/ubcsailbot">code</a> we built is all open source and was entirely
                            developed handful of UBC engineering students and me.  We are currently using what we learned to
                            continue with an entirely new system for the <a href="/work/ubcsailbot-microtransat">Microtransat challenge</a>.
                        </p>
                        <p>
                            We competed in the 2013 International Robotic Sailing Regatta hosted by Olin College in
                            Gloucester, Massachusetts and <a href=http://ubcsailbot.org/2013/06/15/day-4-the-grand-finale/">took first place</a>
                            with the first ever perfect 50/50 score.
                        </p>
                        <h3 class="inner-title">In the press</h3>
                        <p>
                            <ul>
                                <li>
                                    <a href="http://apsc.ubc.ca/apsc-eng/news/2013/06/perfect-score-ubc-engineers-sail-victory-2013-robotics-competition">UBC Applied Sciences</a>
                                </li>
                                <li>
                                    <a href="http://www.wired.com/2012/11/sailbot-regatta-olin-college/">Wired</a>
                                </li>
                                <li>
                                    <a href="http://www.sailingworld.com/racing/going-robotic">Sailing World</a>
                                </li>
                                <li>
                                    <a href="https://www.digitalocean.com/company/blog/february-s-topdrop-ubc-sailbot/">Digital Ocean</a>
                                </li>
                                <li>
                                    <a href="http://name.engineering.ubc.ca/2013/06/18/ubc-wins-sailbot-competition-with-first-ever-perfect-score/">UBC Naval Architecture</a>
                                </li>
                            </ul>
                        </p>
					</div>
				</div>
			</div>
			<script src="/static/scripts/sidebarEffects.js"></script>
		</div>
	</body>
</html>